<div class="login">
  <h4>Register New Account</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col m6 s12 slider">
      <p>Join now, it's free!</p>
    </div>

    <div class="col m6 s12">
      <form class="loginCard" [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field class="example-full-width">
          <input type="text" required minlength=2 maxlength=50 matInput placeholder="First Name"  name="firstName"
            formControlName="firstName" [(ngModel)]="signupData.firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" minlength=2 maxlength=50 required matInput placeholder="Last Name" name="lastName"
            formControlName="lastName" [(ngModel)]="signupData.lastName">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input type="email" required matInput placeholder="Email" name="email"
            formControlName="email" [(ngModel)]="signupData.email">
        </mat-form-field>
        <mat-hint style="color: red; position: relative; top: -17px;" *ngIf="emailExistErr">Email already exists!</mat-hint>

        <mat-form-field class="example-full-width">
          <input type="password" required matInput placeholder="Password" name="password"
            minlength=8 formControlName="password" [(ngModel)]="signupData.password">
        </mat-form-field>
        <p>
          <button [disabled]="signupForm.invalid" mat-button type="submit" class="submitBtn">Register</button>
          <span>OR</span>
          <a [routerLink]="['/auth', 'login']">Login</a>
        </p>
        <p *ngIf="loading" style="color:burlywood">Loading....</p>
        <p *ngIf="invalidLogin" style="color: red;">Invalid, please fix the red fields.</p>
      </form>
    </div>
  </div>
</div>