<h4>
  <mat-icon style="color:powderblue;" class="icon">live_tv</mat-icon>
  Latest Videos
</h4>
<mat-divider></mat-divider>

<div class="videos">
  <h4>All Videos</h4>
  <div class="row">
    <div class="col m3 s12">
      <mat-card [routerLink]="['/videos', 'watch', 'videoId']" class="example-card">
        <mat-card-header>
          <mat-card-title>Comdy Videos</mat-card-title>
          <mat-card-subtitle>By Ayman Aljohary</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', 'watch', 'videoId']" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
    <div class="col m3 s12">
      <mat-card [routerLink]="['/videos', 'watch', 'videoId']" class="example-card">
        <mat-card-header>
          <mat-card-title>Comdy Videos</mat-card-title>
          <mat-card-subtitle>By Ahmed Mohamed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', 'watch', 'videoId']" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
    <div class="col m3 s12">
      <mat-card [routerLink]="['/videos', 'watch', 'videoId']" class="example-card">
        <mat-card-header>
          <mat-card-title>Comdy Videos</mat-card-title>
          <mat-card-subtitle>By Osama Islam</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', 'watch', 'videoId']" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
    <div class="col m3 s12">
      <mat-card [routerLink]="['/videos', 'watch', 'videoId']" class="example-card">
        <mat-card-header>
          <mat-card-title>Comdy Videos</mat-card-title>
          <mat-card-subtitle>By Osama Islam</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', 'watch', 'videoId']" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>

</div>