.videos{
    .mat-card{ padding-bottom: 0; }
    .mat-card-image{ margin-bottom: 0; }
    .mat-card-header-text {
        margin: 0 !important;
    }
    
    .example-card{
        margin-top: 20px;
    }
    .playBtn{
        position: absolute;
        top: 80px;
        right: 10px;
        background: #c2185b;
    }
}