.row{
    .videPlayer{
        text-align: center;
        padding-bottom: 20px;
        background: rgba($color: #000, $alpha: 0.8);
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    
    .col{
        margin-top: 20px;
    }
    .slider{
        min-height: 60vh;
        background: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        p{ 
            font-style:italic; 
            font-size: 50px; 
            text-align: center; 
            color: rgba($color: #fff, $alpha: 0.5); 
            text-shadow: 0px 0px 1px #000;
        }
    }
}

.loginCard{
    width: 100%;
    margin: 0 auto;
    //background: rgba($color: #000, $alpha: 0.1);
    padding: 20px;
    text-shadow: 0px 0px 1px #000;

    .example-full-width{
        width: 100%;
    }

    p{
        display: inline-block;
        width: 100%;
        margin: 10px auto;
        text-align: center;
        span{
            display: inline-block;
            padding: 0 10px;
        }
    }

    .submitBtn{
        background: #c2185b;
        margin: 10px auto;
        display: inline-block;
    }

}
