<div class="login">
  <h4>Edit Video</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col m6 s12">
        <video width="100%" height="100%" class="responsive-video" controls src="https://mondiamedia-tech-task.herokuapp.com/uploads/{{videoDownloadUrl}}">
        </video>
    </div>

    <div class="col m6 s12">

      <form class="loginCard" [formGroup]="editVideoForm" (ngSubmit)="editVideo()">

        <mat-form-field class="example-full-width">
          <mat-select required name="category" formControlName="category" [(ngModel)]="editVideoData.category" placeholder="Select Category">
            <mat-option value="comedy">Comedy</mat-option>
            <mat-option value="thriller">Thriller</mat-option>
            <mat-option value="action">Action</mat-option>
            <mat-option value="kids">Kids</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" required name="title" formControlName="title" [(ngModel)]="editVideoData.title" minlength=2
            matInput placeholder="Title">
          <mat-hint>Minimum characters 2</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput required name="description" formControlName="description" [(ngModel)]="editVideoData.description"
            placeholder="Description"></textarea>
          <mat-hint>Minimum characters 2</mat-hint>
        </mat-form-field>

        <p>
          <button [disabled]="editVideoForm.invalid" mat-button type="submit" class="submitBtn">Edit Video</button>
        </p>

        <p *ngIf="loading" style="color:burlywood">Loading....</p>
        <p *ngIf="invalidLogin" style="color: red;">Error, invalid data.</p>
      </form>

    </div>
  </div>
</div>