.loginCard{
    max-width: 320px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.12);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin-top: 20px;

    .example-full-width{
        width: 100%;
    }

    p{
        display: inline-block;
        width: 100%;
        margin: 10px auto;
        text-align: center;
        span{
            display: inline-block;
            padding: 0 10px;
        }
    }

    .submitBtn{
        background: #c2185b;
        margin: 10px auto;
        display: inline-block;
    }
}

.errMessage{
    
}