<div class="login">
  <h4>Login Into Your Account</h4>
  <mat-divider></mat-divider>

  <form class="loginCard" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="example-full-width">
      <input type="email" required matInput placeholder="Email" 
      name="email" formControlName="email" [(ngModel)]="loginData.email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" required matInput placeholder="Password"
      name="password"  minlength=8 formControlName="password" [(ngModel)]="loginData.password">
    </mat-form-field>

    <p>
      <button [disabled]="loginForm.invalid" mat-button type="submit" class="submitBtn">Login</button>
      <span>OR</span>
      <a [routerLink]="['/auth', 'signup']">Register</a>
    </p>
    <p *ngIf="loading" style="color:burlywood">Loading....</p>
    <p *ngIf="invalidLogin" style="color: red;">Invalid login</p>
  </form>
</div>