<h4>
  <mat-icon style="color:powderblue;" class="icon">tv</mat-icon>
  {{video.title}}
</h4>
<mat-divider></mat-divider>

<div class="row videoContainer">

  <div class="col m6 s12">
    <video width="100%" height="100%" class="responsive-video" autoplay="true" loop="true" controls src="https://mondiamedia-tech-task.herokuapp.com/uploads/{{video?.videoDownloadUrl}}">
    </video>
  </div>

  <div class="col m6 s12 videoInfo">
    <p>
      <span>User:</span>
      <a *ngIf="authUserId != video?.userId" [routerLink]="['/users', video?.userId]">
        {{userInfo?.firstName}}
        {{userInfo?.lastName}}
      </a>
      <a *ngIf="authUserId == video?.userId" [routerLink]="['/users','me']">{{video?.title}}</a>
    </p>



    <button mat-button [routerLink]="['/videos', 'channel', video?.userId]" class="btn">View
      User
      Channel</button>
    <button mat-button *ngIf="authUserId === video?.userId" [routerLink]="['/videos', 'edit', video?.videoId]" class="btn">Edit</button>
    <button mat-button *ngIf="authUserId === video?.userId"  (click)="deleteVideo()" class="btn">Delete</button>
  </div>
</div>

<mat-divider></mat-divider>

<p>
  <span>Category:</span>
  <a [routerLink]="['/category', video?.category]">{{video?.category}}</a>
</p>

<p>
  <span>Description:</span>
  {{video?.description}}
</p>