.channelBtn{
    background: rgba(255, 255, 255, 0.12941176470588237);
    //float: right;
}

.icon{
    position: relative;
    top: 5px;
}
.videPlayer{
    text-align: center;
    padding-bottom: 20px;
    background: rgba($color: #000, $alpha: 0.8);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

p{
    margin-top: 10px;
    overflow: hidden;
    span{
        font-style: italic;
        padding-right: 10px;
        color: rgba($color: #fff, $alpha: 0.8);
    }
}

h4{
    overflow: hidden;
}

.btn{
    margin-right: 10px;
    margin-top: 10px;
    background: rgba($color: #fff, $alpha: 0.3);
    &:last-child{
        background: #c2185b;
    }

}

@media only screen and (min-width: 601px) {
    .videoInfo {
        padding-left: 20px !important;
    }
}