h4{
    padding: 20px 0;
}

.mat-card-header-text {
    margin: 0 !important;
}

.example-card{
    margin-top: 20px;
}
.playBtn{
    position: absolute;
    top: 80px;
    right: 10px;
    background: #c2185b;
}

.channelCard{
    margin-top: 20px;
    h5{
        font-size: 12px !important;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%; 
        white-space: nowrap;
    }
    img{
        border-radius: 50%;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
}
.categories{
    button{ background: rgba(255, 255, 255, 0.12941176470588237); }
}
.videos{
    .mat-card{ padding-bottom: 0; }
    .mat-card-image{ margin-bottom: 0; }
    
}