<div class="videos">
  <h4>Latest Videos</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col m3 s12" *ngFor="let video of latestVideos">
      <mat-card [routerLink]="['/videos', video?.videoId]" class="example-card">
        <mat-card-header>
          <mat-card-title>{{video.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdns.freeicon.org/data/2416/movie-advertising-background-film-roll-icons-3d-design/movie-advertising-background-film-roll-icons-3d-design-cover.png" alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', video?.videoId]" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>

</div>


<div class="categories">
  <h4>Browse Categories</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col m3 s12">
      <mat-card [routerLink]="['/category', 'comedy']" class="example-card">
        <mat-card-header>
          <mat-card-title>Comedy Videos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBBF5V1IGY_zvJk7Bjei0tbrd4yTe2W6cIr4ZEwWlNE90inQBZ" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button [routerLink]="['/category', 'comedy']" mat-button>Browse</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col m3 s12">
      <mat-card [routerLink]="['/category', 'thriller']" class="example-card">
        <mat-card-header>
          <mat-card-title>Thriller Videos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRunSk9_ICWVfAtMb0THCDjQAVk9pMoQXb8kI543miJGhdgXsOb2g" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button [routerLink]="['/category', 'thriller']" mat-button>Browse</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col m3 s12">
      <mat-card [routerLink]="['/category', 'action']" class="example-card">
        <mat-card-header>
          <mat-card-title>Action Videos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUhNv_M37DWpwA5I5wybYxvCQ64ti0gQCnHY1isoQFCcWZewmiPA" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button [routerLink]="['/category', 'action']" mat-button>Browse</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col m3 s12">
      <mat-card [routerLink]="['/category', 'kids']" class="example-card">
        <mat-card-header>
          <mat-card-title>Kids Videos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO7jMGTGdX-aoqm1asL6CrdhyxqpNB2idDfv7JSqECkWPATe4e" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button [routerLink]="['/category', 'kids']" mat-button>Browse</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>

<div class="users">
  <h4>Latest Channels</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col l1 m2 s4" *ngFor="let user of latestUsers">
      <div [routerLink]="['/videos', 'channel', user.userId]" class="channelCard">
        <img src="assets/imgs/Placeholder-Portrait.jpg">
        <h5 style="text-align: center; text-transform: capitalize;">{{user.firstName}} {{user.lastName}}</h5>
      </div>
    </div>
  </div>
</div>