<header>
    <mat-toolbar color="primary">
        <span [routerLink]="['/']">MondiaMedia</span>
        <span class="example-fill-remaining-space"></span>
        <span style="display:block;" *ngIf="authUser">
            <button [routerLink]="['users']" mat-button>
                <mat-icon style="color:powderblue;">account_circle</mat-icon>
                <span class="displayName">{{user.firstName}} {{user.lastName}}</span>
            </button>
            
            <mat-menu #appMenu="matMenu">
                    <button [routerLink]="['/videos', 'upload']" mat-menu-item>Upload Video</button>
                <button [routerLink]="['/videos', 'channel', user.userId]" mat-menu-item>Your Channel</button>
                <button [routerLink]="['/auth', 'logout']" mat-menu-item>Logout</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span style="display:block;" *ngIf="!authUser">
                <button [routerLink]="['users']" mat-button>
                    <mat-icon style="color:powderblue;">lock</mat-icon>
                    <span style="padding-left:10px;">Login</span>
                </button>
            </span>
    </mat-toolbar>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>@Ayman Aljohary / +201201035118</p>
</footer>