header{
    position: fixed;
    width: 100%;
    padding-bottom: 40px;
    z-index: 999;
}
main{
    position: relative;
    top: 40px;
    min-height: 85vh;
    padding: 20px;
}
footer{
    position: relative;
    top: 40px;
    padding: 20px;
    background: rgba($color: #000000, $alpha: 0.1);
    p { font-size: 12px !important; }
}
.displayName{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 90px; 
    white-space: nowrap;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
