<h4 style="text-transform: capitalize;">
  <mat-icon style="color:powderblue;" class="icon">live_tv</mat-icon>
  {{categoryName}} Videos
</h4>
<mat-divider></mat-divider>

<div class="videos">
  <h4>All Videos</h4>
  <div *ngIf="videos?.length === 0">Empty Category 0 videos</div>
  <div class="row">
    <div class="col m3 s12" *ngFor="let video of videos">
      <mat-card [routerLink]="['/videos', video?.videoId]" class="example-card">
        <mat-card-header>
          <mat-card-title>{{video.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdns.freeicon.org/data/2416/movie-advertising-background-film-roll-icons-3d-design/movie-advertising-background-film-roll-icons-3d-design-cover.png"
          alt="Photo of a Shiba Inu">
        <button [routerLink]="['/videos', video?.videoId]" mat-button class="playBtn">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>

</div>