<div class="login">
  <h4>Upload Video</h4>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col m6 s12 slider">
      <p>Upload & Share, <br> 100% free.</p>
    </div>

    <div class="col m6 s12">
      <form class="loginCard" [formGroup]="uploadForm" (ngSubmit)="upload()" enctype="multipart/form-data">

        <mat-form-field class="example-full-width">
          <mat-select required  name="category"
          formControlName="category" [(ngModel)]="uploadData.category" placeholder="Select Category">
            <mat-option selected>Select</mat-option>
            <mat-option value="comedy">Comedy</mat-option>
            <mat-option value="thriller">Thriller</mat-option>
            <mat-option value="action">Action</mat-option>
            <mat-option value="kids">Kids</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <input 
            accept="video/mp4" 
            (change)="selectFile($event)" 
            type="file" 
            name="video" 
            formControlName="video" 
            required  
            placeholder="Choose Your Video">
            <br>
            <mat-hint>Max size 50Mb, MediaType video/mp4</mat-hint>
        </div>

        <mat-form-field class="example-full-width">
          <input 
          type="text" 
          required  
          name="title"
          formControlName="title" 
          [(ngModel)]="uploadData.title" 
          minlength=2
          matInput 
          placeholder="Title">
          <mat-hint>Minimum characters 2</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput required  name="description"
          formControlName="description" [(ngModel)]="uploadData.description" placeholder="Description"></textarea>
          <mat-hint>Minimum characters 2</mat-hint>
        </mat-form-field>

        <p>
          <button [disabled]="uploadForm.invalid" mat-button type="submit" class="submitBtn">Upload</button>
        </p>

        <p *ngIf="loading" style="color:burlywood">Loading....</p>
        <p *ngIf="invalidLogin" style="color: red;">Error, invalid data.</p>
      </form>
    </div>
  </div>
</div>