.icon{
    position: relative;
    top: 5px;
}
p{
    margin-top: 10px;
    overflow: hidden;
    span{
        font-style: italic;
        padding-right: 10px;
        color: rgba($color: #fff, $alpha: 0.8);
    }
}

.profileImage{
    text-align: center;
    padding-bottom: 20px;
    img{
        width: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba($color: #000, $alpha: 0.8);
    }
}

h4{
    overflow: hidden;
}

.btn{
    float: right;
    margin-left: 10px;
    background: rgba($color: #fff, $alpha: 0.3);
}