<h4>
  <mat-icon style="color:powderblue;" class="icon">account_circle</mat-icon>
  Your Account Information
</h4>
<mat-divider></mat-divider>

<p>
  .....
  <button mat-button [routerLink]="['/videos','channel', user.userId]" class="btn">Your Videos</button>
</p>

<p class="profileImage">
  <img src="assets/imgs/Placeholder-Portrait.jpg">
</p>
<mat-divider></mat-divider>

<p>
  <span>User Id</span> {{user?.userId}}
</p>

<p>
  <span>First Name</span> {{user?.firstName}}
</p>

<p>
  <span>Last Name</span> {{user?.lastName}}
</p>

<p>
  <span>Email</span> {{user?.email}}
</p>