/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Cairo');
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "grid.scss";

$font-stack: 'Cairo', sans-serif;
$background-color: #303030;
$primary-color: #fff;
$secondary-color:#c2185b;

$font-size: 14px;

*{
    margin: 0;
    padding: 0;
    font: $font-size $font-stack;
    color: $primary-color;
    outline: none !important;
}

button[disabled]{
    background-color: 
        rgba($color: #fff, $alpha: 0.3) 
        !important;
    &::after{
        color: red !important;
        content: '!';
        padding-left: 10px;
    }
}

.row{
    margin-top: 20px;
    .col{
        padding: 0;
    }
}

body, .mat-snack-bar-container{
    background: $background-color;
}

.mat-toolbar.mat-primary {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.icon{
    position: relative;
    top: 5px;
}

h4{
    font-size: 20px;
}

.mat-card, .channelCard{
    margin-right: 10px;
    &:last-child{
        margin-left: 0px;
    }
}